body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    background: #0042FF;
    color: #ffffff;
    /*color: #201E10;*/
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
    
}
.logo {
    background-image: url(/gif/logo0.gif);
    background-size: 250px;
    background-repeat: no-repeat;
    width: 250px;
    text-indent: -10000px;
    margin: 60px auto;
    filter: invert(100%);
}

ul {
    margin: 0;
    padding: 0 auto;
}

li{
    list-style: none;
    display: contents;
}

img {
    width: 32%;
}
a, span {
    color: #00FF2A;
    font-weight: 500;
}
