body {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background: #F7F3EE;
}

.wrapper {
    background: white;
    height: 100vh;
    max-width: 1180px;
    padding: 0 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3,1fr);
}

.logo {
    background-image: url(/gif/logo0.gif);
    background-size: 200px;
    background-repeat: no-repeat;
    width: 200px;
    text-indent: -10000px;
    margin: 0;
    position: relative;
    top: 50%;
}

header {
    border-right: 1px solid #C8C1B8;
    padding-right: 10px;
    grid-column: 1/2;
    grid-row: 1/4;
}
header nav h2{
    text-indent: -10000px;
    height: 0;
    margin: 0;
}

header nav {
    position: relative;
    float: right;
    top: 60%;
    
}
header nav ul {
    padding: 0;
    margin: 0;
}

header nav li {
    list-style: none;
    
}

#about {
    margin-top: 10px;
}

header nav li a {
    text-decoration: none;
    color: #585C65;
}

.currentpage a{
    color: #CDA368;
    font-weight: 600;
}

h3{
    margin: 0 0 20px 0;   
    font-weight: 600;
    font-size: .8em;
    color: #494E5A;
}

p{
    font-weight: 400;
    font-size: .8em;
    color: #585C65;
    padding-top: 10px;
    margin: 0;
}
main p a {
    text-decoration: none;
    border-bottom: 1px solid;
    color:#CDA368;
}
main {
    grid-column: 2/6;
    grid-row: 1/4;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}

main ul{
    list-style: none;
    padding:0;
    margin: 0;
}

.box {
    float: left;
    padding: 5px;
    margin: 10px;
    /border-bottom: 1px solid #C8C1B8;
    -webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.21);
box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.21);
}

.info {
    float: left;
    display: inline-block;
    padding: 5px;
    margin: 0;
    border-right: 1px solid #C8C1B8;
}

.lists {
    float: right;
    margin: 0 auto;
    width: 80%;
    position: relative;
}

main li {
    float: left;
    width: 30%;
    margin-left: 10px;
    
}

iframe {
    width: 100%;
}